// Tab.module.scss

.tab-container {
    // background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    display: flex;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    gap: 1.25rem; 
    border-radius: 32px;
    padding: 1rem;
    border: 1px solid #0E464F;

  
    @media (min-width: 768px) {
      background-color: #08252B;
      border: 1px solid #0E464F;
      padding: 3rem;
    }
  }
  
  .tab-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem; 
  }
  
  .tab-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .tab-title {
    font-size: 1.5rem; 
    text-transform: capitalize;
  
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  
  .tab-step {
    font-size: 1rem;
  }
  